{% extends 'dns_checker.html' %}
{% block body %}



<div class="container">

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Records</th>
          <th scope="col">Records Data</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Arecord</td>
          <td>
            {%for i in range(0, len)%}
            <li>{{arecord[i]}}</li>
            {%endfor%}
          </td>

        </tr>
        <tr>
          <th scope="row">2</th>
          <td>mxRecord</td>
          <td>
            {%for i in range(0, len1)%}
            <li>{{mxRecord[i]}}</li>
            {%endfor%}
          </td>

        </tr>

      </tbody>
    </table>
  </div>













{% endblock %}
